<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签云</title>
    <link rel="stylesheet" href="../../library/layuiAdmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../library/layuiAdmin/style/admin.css" media="all">
</head>
<body>
<!--有空隙-->
<div class="layui-fluid">
    <!--底部的间隔7.5px-->
    <div class="layui-row layui-col-space15">
        <!--横向占满6格空间-->
        <div class="layui-col-md6">
            <!--卡片白色背景-->
            <div class="layui-card">
                <div class="layui-card-header">标签云</div>
                <div class="layui-card-body">
                    <div id="tagCloud"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <!--标签云-->
            <div class="layui-card">
                <div class="layui-card-header">标签云</div>
                <div class="layui-card-body" id="tagContent">

                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../library/tagCloud/js/jquery-2.1.1.min.js"></script>
<script src="../../library/tagCloud/js/jquery.svg3dtagcloud.min.js"></script>
<script src="../../library/layuiAdmin/layui/layui.js"></script>
<script src="../../base/js/ajax.js"></script>
<script>
    layui.use(["jquery", "layer"], function () {
        var $ = layui.$;
        ajax.get({
            url: "/tag/listReferencePage?page=1&limit=1000",
            success: function (res) {
                var tagList = res.data;
                var tags = [], sum = 0;
                var content = $("#tagContent");
                for (var i = 0; i < tagList.length; ++i) {
                    tags.push({label: tagList[i].name, url: "javascript:;"});
                    sum += tagList[i].count;
                }
                var as = "", baseSize = 12;
                for (var i = 0; i < tagList.length; ++i) {
                    var fontSize = baseSize + (tagList[i].count / sum) * 30;
                    as += "<a style=\"font-size: " + fontSize + "px\">" + tagList[i].name + " </a>";
                }
                content.append(as);
                top.layui.layer.open({
                    type: 2,
                    title: "文章列表",
                    closeBtn: 1,
                    area: ["80%", "80%"],
                    content: './article/commonList.html?tagId=' + obj.data.id
                });
                var settings = {
                    entries: tags,
                    width: '100%',
                    height: '83%',
                    radius: '85%',
                    radiusMin: 75,
                    bgDraw: true,
                    bgColor: '#fff',
                    opacityOver: 1.00,
                    opacityOut: 0.1,
                    opacitySpeed: 6,
                    fov: 800,
                    speed: 0.5,
                    fontFamily: 'Microsoft Yahei, Oswald, Arial, sans-serif',
                    fontSize: '16',
                    fontColor: '#000',
                    fontWeight: 'bold',//bold
                    fontStyle: 'normal',//italic
                    fontStretch: 'normal',//wider, narrower, ultra-condensed, extra-condensed, condensed, semi-condensed, semi-expanded, expanded, extra-expanded, ultra-expanded
                    fontToUpperCase: false
                };
                $('#tagCloud').svg3DTagCloud(settings);

            }
        });

    });
</script>
</body>
</html>