<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../library/layuiAdmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../library/layuiAdmin/style/admin.css" media="all">
    <style>
        body::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>
<body>
<!--有空隙-->
<div class="layui-fluid">
    <!--底部的间隔7.5px-->
    <div class="layui-row layui-col-space15">
        <!--横向占满12格空间-->
        <div class="layui-col-md12">
            <!--卡片白色背景-->
            <div class="layui-card">
                <div class="layui-card-header">分类列表</div>
                <div class="layui-card-body">
                    <!--搜索栏-->
                    <form class="layui-form layui-form-item">
                        <input placeholder="请输入名称" class="layui-input layui-input-inline" name="name">
                        <input placeholder="请输入描述" class="layui-input layui-input-inline" name="description">
                        <input type="submit" class="layui-btn" lay-submit lay-filter="search" value="搜索">
                        <input class="layui-btn" type="reset">
                    </form>

                    <!--工具栏-->
                    <script type="text/html" id="table-toolbar">
                        <a class="layui-btn  layui-btn-primary layui-btn-sm" lay-event="refresh">刷新列表</a>
                    </script>

                    <table class="layui-table" lay-filter="list" id="list"
                           lay-data="{page: true, toolbar: '#table-toolbar'}">
                        <thead>
                        <tr>
                            <th lay-data="{checkbox:true, fixed:'left'}"></th>
                            <th lay-data="{field:'id'}">ID</th>
                            <th lay-data="{field:'name'}">名称</th>
                            <th lay-data="{field:'description'}">描述</th>
                            <th lay-data="{field:'count'}">引用</th>
                            <th lay-data="{fixed: 'right', toolbar: '#operation', align:'center'}">操作</th>
                        </tr>
                        </thead>
                    </table>

                    <!--操作栏-->
                    <script type="text/html" id="operation">
                        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">查看</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../library/layuiAdmin/layui/layui.js"></script>
<script src="../../base/js/ajax.js"></script>
<script>
    layui.use(['table', 'jquery', 'layer', 'form'], function () {
        var $ = layui.$, table = layui.table, form = layui.form;
        table.init('list', {url: '/tag/listReferencePage'});

        // 搜索事件
        form.on('submit(search)', function (data) {
            // 获取提交的字段，重载第一页
            table.reload('list', {where: data.field, page: {curr: 1}});
            return false;
        });

        // 工具栏点击事件
        var toolbarActive = {
            refresh: function () {
                table.reload('list');
            }
        };

        table.on('toolbar(list)', function (obj) {
            toolbarActive[obj.event] ? toolbarActive[obj.event](obj) : "";
        });


        // 操作按钮点击事件
        var operationActive = {
            detail: function (obj) {
                layer.msg(obj.data.id);
            }
        };

        table.on('tool(list)', function (obj) {
            operationActive[obj.event] ? operationActive[obj.event](obj) : "";
        });
    });
</script>

</body>
</html>