@charset "UTF-8"; /*指定css文件编码，解决伪元素content出现Â乱码*/
body {
    background: #f5f8f9;
    font-family: "Microsoft Yahei";
}

* {
    margin: 0;
    padding: 0;
}

a:hover, a:visited, a:link, a:active {
    color: #565a5f;
    text-decoration: none;
}

/*导航*/
#navigate {
    width: 100%;
    height: 60px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background: white;
    position: fixed;
    top: 0;
}

#navigate-main {
    max-width: 1440px;
    margin: 0 auto;
    background: white;
    line-height: 60px;
}

/*向左浮动*/
#navigate-main .left a {
    float: left;
    padding: 0 30px;
    transition: color .2s;
}

/*logo*/
#navigate-main .left .logo {
    font-size: 35px;
    padding: 0 40px;
    color: #38b7ea;
}

#navigate-main .left a:hover {
    color: #38b7ea;
}

/*搜索*/
#navigate-main .left input::placeholder {
    color: #aeaeae;
}

#navigate-main .left input {
    transition: all 0.3s;
    width: 100px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    outline: none;
    border: none;
    line-height: 40px;
    float: left;
    height: 40px;
    border-radius: 20px;
    padding: 0 40px 0 20px;
    margin-top: 10px;
    margin-left: 40px;
    color: #565a5f;
    background: #eee;
}

#navigate-main .left input:focus {
    width: 150px;
    background: #e7e7e7;
}

/*放大镜*/
#navigate-main .left .fa-search {
    float: left;
    font-size: 19px;
    color: #aeaeae;
    position: relative;
    top: 20px;
    right: 32px;
}

#navigate-main .left .fa-search:hover {
    cursor: pointer;
}

/*向右浮动*/
#navigate-main .right > * {
    transition: all .2s;
    line-height: 40px;
    float: right;
    height: 40px;
    border-radius: 20px;
    border: 1px #38b7ea solid;
    padding: 0 20px;
    margin-top: 10px;
    margin-right: 20px;
}

/*笔*/
#navigate-main .right .write .pen {
    line-height: 0;
    font-style: normal;
    position: relative;
    right: 2px;
    top: 2px;
    font-size: 25px;
}

/*创作按钮*/
#navigate-main .right .write {
    background: #38b7ea;
    color: white;
}

#navigate-main .right .write:hover {
    background: #38c2f5;
    border: 1px #38c2f5 solid;
}

/*登录按钮*/
#navigate-main .right .login {
    color: #38b7ea;
}

#navigate-main .right .login:hover {
    color: #39cbff;
    border: 1px #3acaff solid;
}

/*主体*/
#main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 30px 30px 30px;
    background: #f5f8f9;
    overflow: hidden; /*清除浮动*/
}

#main > * {
    float: left;
    background: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    margin: 0.5%;
}

/*左侧个人简介*/
#main > .left {
    text-align: center;
    color: #565a5f;
    width: 20%;
    overflow: hidden;
}

#main > .left > .head-img {
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);*/
    margin: 20px 0 10px 0;
    width: 128px;
    height: 128px;
}

#main > .left > .name {
    font-size: 20px;
    font-weight: 600;
}

#main > .left > .introduction {
    font-size: 14px;
    margin-top: 5px;
}

#main > .left > .address {
    margin-top: 5px;
    font-size: 12px;
    color: #9a9ea3;
}

#main > .left > .address .fa-map-marker {
    font-size: 13px;
}

/*关注按钮*/
#main > .left > .follow {
    display: inline-block;
    width: 100px;
    font-size: 15px;
    transition: all .2s;
    line-height: 40px;
    height: 40px;
    border-radius: 20px;
    background: #38b7ea;
    color: white;
    padding: 0 20px;
    margin: 15px 0 20px 0;
}

#main > .left > .follow:hover {
    background: #38c2f5;
}

/*模块统计*/
#main > .left > .profile {
    overflow: hidden;
    border: 1px #eceff2 solid;
    border-left: 0;
    border-right: 0;
}

#main > .left > .profile > a {
    float: left;
    transition: color .2s;
    padding: 20px 0 20px 0;
    border-right: 1px #eceff2 solid;
    box-sizing: border-box; /*border不占位置*/
    width: 33.33%;
}

#main > .left > .profile > a:hover {
    color: #38b7ea;
}

#main > .left > .profile a:last-child {
    border: none;
}

/*链接*/
#main > .left > .link {
    list-style-type: none;
    width: 85%;
    margin: 0 auto;
}

#main > .left > .link > li {
    float: left;
    font-size: 12px;
    width: 25%;
    padding: 20px 0 25px 0;
}

#main > .left > .link > li i {
    /*color: #ef9024;*/
    color: #898d92;
    font-size: 24px;
}
























/*中间主体*/
#main > .middle {
    width: 57%;
}

/*文章列表*/
#main > .middle .article-list {
    color: #565a5f;
    padding: 0 15px;
}

#main > .middle .article-list article {
    border-bottom: 1px #e0e0e0 solid
}

/*文章标题*/
#main > .middle .article-list article .title {
    font-size: 16px;
    padding: 10px 0;
}

#main > .middle .article-list article .title:hover {
    color: #38b7ea;
    cursor: pointer;
}

/*文章信息*/
#main > .middle .article-list article .info {
    padding: 10px 0;
    font-size: 14px;
}

#main > .middle .article-list article .info .fa {
    color: #898d92;
}

#main > .middle .article-list article .info a:hover {
    color: #38b7ea;
}

#main > .middle .article-list article .info .tags a:before {
    content: "#";
}

























/*右侧其他信息(热门文章、标签云)*/
#main > .right {
    width: 20%;
    padding: 10px 0;
}

#main > .right > div {
    padding: 15px;
}

/*热门文章*/
#main > .right .popular > .title {
    color: #e84d1c;
    text-align: center;
}

#main > .right .popular .content article {
    transition: opacity .2s;
    overflow: hidden;
    border-bottom: 1px #e0e0e0 solid;
    padding: 10px;
}

#main > .right .popular .content article:hover {
    opacity: 0.85;
    cursor: pointer;
}

/*文章标题*/
#main > .right .popular .content article .title {
    font-size: 14px;
    color: #565a5f;
}

/*文章信息*/
#main > .right .popular .content article .info {
    font-size: 0; /*防止子元素span换行造成的间隔*/
    color: #9b9b9b;
    padding: 5px 0 2px 0;
}

#main > .right .popular .content article .info span {
    font-size: 13px;
}

#main > .right .popular .content article .info span:not(:last-of-type):after {
    content: "·";
    margin: 0 4px;
}

/*标签云*/
#main > .right .tag-cloud .title {
    text-align: center;
    margin-bottom: 6px;
    color: #e84d1c;
}

#main > .right .tag-cloud .content a {
    line-height: 23px;
    color: #777;
}

#main > .right .tag-cloud .content a:hover /*,
#main > .right .tag-cloud .content a:visited*/
{
    color: #e84d1c;
}








