<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon">
    <link rel="stylesheet" href="../../library/editor/css/editormd.preview.css">
    <!-- <link rel="stylesheet" href="../../library/layuiAdmin/layui/css/layui.css" media="all">-->
    <link href="css/preview.css" rel="stylesheet">
</head>
<body>
<!--markdown内容-->
<main class="main">
    <header class="header">
        <h1 class="title">事务及事务隔离级别</h1>
        <section class="meta">
            <i class="fa fa-user"></i>
            <a class="author" href="javascript:;">admin</a>
            <i class="fa fa-calendar"></i>
            <a class="date" href="javascript:;">2019-2-14</a>
            <i class="fa fa-folder"></i>
            <a class="category" href="javascript:;">java</a>
            <i class="fa fa-eye"></i>
            <a class="views" href="javascript:;">3786</a>
            <i class="fa fa-heart"></i>
            <a class="likes" href="javascript:;">101</a><br>
            <span class="tags">
                <a href="javascript:;">索引</a>
                <a href="javascript:;">springboot</a>
                <a href="javascript:;">mybatis</a>
                <a href="javascript:;">springcloud</a>
                <a href="javascript:;">hadoop</a>
            </span>
        </section>
        <p class="introduction">事务的ACID原则，事务隔离级别的介绍</p>
    </header>
    <article id="previewContainer"></article>
</main>

<!--目录-->
<div id="tocContainer" class="markdown-body editormd-preview-container"></div>

<script src="../../base/plugin/jquery.min.js"></script>
<script src="../../library/editor/editormd.js"></script>
<script src="../../library/layuiAdmin/layui/layui.js"></script>
<script src="../../base/js/ajax.js"></script>

<script src="../../library/editor/lib/marked.min.js"></script>
<script src="../../library/editor/lib/prettify.min.js"></script>
<script src="../../library/editor/lib/raphael.min.js"></script>
<script src="../../library/editor/lib/underscore.min.js"></script>
<script src="../../library/editor/lib/sequence-diagram.min.js"></script>
<script src="../../library/editor/lib/flowchart.min.js"></script>
<script src="../../library/editor/lib/jquery.flowchart.min.js"></script>
<script src="js/preview.js"></script>
</body>
</html>