<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon">
    <link rel="stylesheet" href="../../library/editor/css/editormd.preview.css">
    <!-- <link rel="stylesheet" href="../../library/layuiAdmin/layui/css/layui.css" media="all">-->
    <link href="css/preview.css" rel="stylesheet">
</head>
<body>
<!--markdown内容-->
<main class="main">
    <header class="header">
        <h1 class="title"></h1>
        <section class="meta">
            <i class="fa fa-user"></i> <a class="author" href="javascript:;"></a>
            <i class="fa fa-calendar"></i> <a class="date"></a>
            <i class="fa fa-folder"></i> <a class="category" href="javascript:;"></a>
            <i class="fa fa-eye"></i> <a class="views"></a>
            <i class="fa fa-heart"></i> <a class="likes"></a>
            <p class="tags"></p>
            <p class="introduction"></p>
        </section>
    </header>
    <article id="previewContainer"></article>
</main>
<!--目录-->
<div id="tocContainer" class="markdown-body editormd-preview-container"></div>
<!--悬浮栏-->
<div class="tool">
    <div id="toc" class="fa fa-bars toolBtn" data-title="目录"></div>
    <div id="like" class="fa fa-heart toolBtn" data-title="喜欢"></div>
    <div id="toTop" class="fa fa-arrow-up toolBtn" data-title="返回顶部"></div>
</div>



<script src="../../base/plugin/jquery.min.js"></script>
<script src="../../library/editor/editormd.js"></script>
<script src="../../library/layuiAdmin/layui/layui.js"></script>
<script src="../../base/js/ajax.js"></script>

<script src="../../library/editor/lib/marked.min.js"></script>
<script src="../../library/editor/lib/prettify.min.js"></script>
<script src="../../library/editor/lib/raphael.min.js"></script>
<script src="../../library/editor/lib/underscore.min.js"></script>
<script src="../../library/editor/lib/sequence-diagram.min.js"></script>
<script src="../../library/editor/lib/flowchart.min.js"></script>
<script src="../../library/editor/lib/jquery.flowchart.min.js"></script>
<script src="js/preview.js"></script>
</body>
</html>