<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基本信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../library/layuiAdmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../library/layuiAdmin/style/admin.css" media="all">
    <style>
        .layui-form-item .layui-input-inline {
            width: 39%;
        }

        #userHeadImage {
            box-shadow: 0 0 5px #b6b6b6;
            width: 144px;
            height: 144px;
        }

        .layui-btn-container .layui-btn {
            margin-bottom: 0;
        }

        .layui-form-label.required:before {
            position: relative;
            left: -4px;
            content: "*";
            color: red;
        }

        .layui-disabled, .layui-disabled:hover, .layui-disabled:focus {
            color: grey !important;
            border-color: #e6e6e6 !important;
        }
    </style>
</head>
<body style="overflow-y: scroll">
<!--有空隙-->
<div class="layui-fluid">
    <!--底部的间隔7.5px-->
    <div class="layui-row layui-col-space15">
        <!--横向占满12格空间-->
        <div class="layui-col-md12">
            <!--卡片白色背景-->
            <div class="layui-card">
                <div class="layui-card-header">基本信息</div>
                <div class="layui-card-body" pad20>
                    <form class="layui-form" lay-filter="userInfoForm">
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <img id="userHeadImage" alt="">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label required">头像</label>
                            <div class="layui-input-inline">
                                <input name="headImageUrl" lay-verify="required" placeholder="请输入头像图片地址"
                                       class="layui-input" autocomplete="off">
                            </div>
                            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                                <button type="button" class="layui-btn layui-btn-primary">上传图片</button>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label required">账号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="account" readonly class="layui-input layui-disabled"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label required">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" placeholder="请输入邮箱地址" readonly
                                       autocomplete="off" class="layui-input layui-disabled">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label required">昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" lay-verify="required" lay-verify="name"
                                       autocomplete="off" placeholder="请输入昵称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label required">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" name="gender" value="0" title="男" checked>
                                <input type="radio" name="gender" value="1" title="女">
                                <input type="radio" name="gender" value="2" title="保密">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label required">生日</label>
                            <div class="layui-input-inline">
                                <input type="text" name="birthday" lay-verify="required" placeholder="请选择出生日期"
                                       autocomplete="off" class="layui-input" id="birthday">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label required">个性签名</label>
                            <div class="layui-input-inline">
                                <textarea name="signature" lay-verify="required" placeholder="请输入个性签名"
                                          class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">QQ</label>
                            <div class="layui-input-inline">
                                <input type="text" name="qq" placeholder="请输入QQ号码" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">微信</label>
                            <div class="layui-input-inline">
                                <input type="text" name="wechat" placeholder="请输入微信二维码图片地址" autocomplete="off"
                                       class="layui-input">
                            </div>
                            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                                <button type="button" class="layui-btn layui-btn-primary">上传图片</button>
                                <button type="button" class="layui-btn layui-btn-primary" id="openWechatImage">查看图片
                                </button>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">Github</label>
                            <div class="layui-input-inline">
                                <input type="text" name="github" placeholder="请输入Github地址" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">知乎</label>
                            <div class="layui-input-inline">
                                <input type="text" name="zhihu" placeholder="请输入知乎地址" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="submit">确认修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../library/layuiAdmin/layui/layui.js"></script>
<script src="../../base/js/ajax.js"></script>
<script>
    layui.use(["form", "jquery", "layer", 'laydate'], function () {
        var $ = layui.$, layer = layui.layer, form = layui.form, laydate = layui.laydate;
        laydate.render({elem: '#birthday'});

        function refreshHead() {
            $("#userHeadImage").attr("src", $("input[name='headImageUrl']").val());
        }

        // 头像绑定
        $("input[name='headImageUrl']").change(function () {
            refreshHead();
        });
        ajax.get({
            url: "/user/getMyInfo",
            success: function (res) {
                var data = res.data;
                data.gender += "";
                form.val("userInfoForm", data);
                refreshHead();
            }
        });

        form.on('submit(submit)', function (data) {
            var field = data.field;
            // 格式化日期
            field.birthday = field.birthday.replace(/-/g, "/");
            ajax.post({
                url: "/user/updateMyInfo",
                data: field,
                success: function () {
                    layer.alert("更新个人信息成功", {icon: 1}, function () {
                        window.location.reload();
                    });
                }
            });
            return false;
        });

        $("#openWechatImage").click(function () {
            layer.open({
                type: 1,
                title: false,
                content: '<img src="' + $("input[name='wechat']").val() + '" alt="" width="200" height="200">'
            });
        });
    });
</script>
</body>
</html>