<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>控制台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../library/layuiAdmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../library/layuiAdmin/style/admin.css" media="all">
    <link href="../../library/fontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .layui-badge {
            line-height: 26px;
            height: 25px;
            margin-top: -12px;
        }

        .ms-chart {
            width: 100%;
            height: 100%;
        }

        .layui-table tr:first-of-type td:nth-of-type(2) {
            color: #FF5722;
        }

        .layui-table tr:nth-of-type(2) td:nth-of-type(2) {
            color: #FFB800;
        }

        .layui-table tr:nth-of-type(3) td:nth-of-type(2) {
            color: #5FB878;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    文章数量
                    <span class="layui-badge layui-bg-blue layuiadmin-badge" lay-href="article/list.html">文章列表</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font" id="articleCount">&nbsp;</p>
                    <p>
                        公开文章
                        <span class="layuiadmin-span-color">
                            <span id="articlePublishCount"></span>
                            <i class="layui-inline layui-icon layui-icon-release"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    分类数量
                    <span class="layui-badge layui-bg-green layuiadmin-badge" lay-href="category/list.html">分类列表</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font" id="categoryCount">&nbsp;</p>
                    <p>
                        顶级分类
                        <span class="layuiadmin-span-color">
                            <span id="categoryTopCount"></span>
                            <i class="layui-inline layui-icon layui-icon-flag"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    标签数量
                    <span class="layui-badge layui-bg-orange layuiadmin-badge" lay-href="tag/list.html">标签列表</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font" id="tagCount">&nbsp;</p>
                    <p>
                        引用次数
                        <span class="layuiadmin-span-color">
                            <span id="tagReferenceCount"></span>
                            <i class="layui-inline layui-icon layui-icon-note"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    图片数量
                    <span class="layui-badge layui-bg-red layuiadmin-badge" lay-href="image/list.html">图片列表</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font" id="imageCount">&nbsp;</p>
                    <p>
                        存储空间
                        <span class="layuiadmin-span-color">
                            <span id="imageSize"></span>
                            <i class="layui-inline layui-icon layui-icon-component" style="margin-bottom: 2px;"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm8">
            <div class="layui-card">
                <div class="layui-card-header">文章信息</div>
                <div class="layui-card-body">
                    <div class="layadmin-dataview">
                        <div id="newArticleChart" class="ms-chart">
                            <i class="layui-icon layui-icon-loading1 layadmin-loading"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm4">
            <div class="layui-card">
                <div class="layui-card-header">文章点击排行</div>
                <div class="layui-card-body">
                    <table class="layui-table layuiadmin-page-table" lay-filter="topViewArticleList"
                           lay-data="{skin: 'line'}">
                        <thead>
                        <tr>
                            <th lay-data="{type: 'numbers'}">&nbsp;&nbsp;排名</th>
                            <th lay-data="{field:'title', width: '50%'}">标题</th>
                            <th lay-data="{field:'views', align:'center'}">浏览</th>
                            <th lay-data="{field:'likes', align:'center'}">喜欢</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../library/layuiAdmin/layui/layui.js"></script>
<script src="../../base/js/ajax.js"></script>
<script>
    layui.config({
        base: '../../library/layuiAdmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'echarts', 'table'], function () {
        var $ = layui.$, echarts = layui.echarts, table = layui.table;
        table.init('topViewArticleList', {url: '/console/listTopViewArticle'});
        ajax.get({
            url: "/console/getModuleCount",
            success: function (res) {
                var data = res.data;
                $("#articleCount").text(data.article[0]);
                $("#articlePublishCount").text(data.article[1]);
                $("#categoryCount").text(data.category[0]);
                $("#categoryTopCount").text(data.category[1]);
                $("#tagCount").text(data.tag[0]);
                $("#tagReferenceCount").text(data.tag[1]);
                $("#imageCount").text(data.image[0]);
                var sizeType = ["B", "KB", "MB", "GB", "TB"], size = data.image[1], typeIndex = 0;
                while (size >= 1024) {
                    size /= 1024;
                    ++typeIndex;
                }
                $("#imageSize").text(size.toFixed(2) + sizeType[typeIndex]);

            }
        });
        var newArticleChart = echarts.init($("#newArticleChart")[0], layui.echartsTheme);
        newArticleChart.setOption({
            title: {
                text: '最近一周新增文章',
                x: 'center',
                textStyle: {
                    fontSize: 14
                }
            },
            tooltip: { //提示框
                trigger: 'axis',
                formatter: "{b}<br>新增文章：{c}",
                showDelay: 15
            },
            xAxis: [{ //X轴
                type: 'category',
                data: ['11-07', '11-08', '11-09', '11-10', '11-11', '11-12', '11-13']
            }],
            yAxis: [{  //Y轴
                type: 'value'
            }],
            series: [{ //内容
                type: 'line',
                data: [200, 300, 400, 610, 150, 270, 380]
            }]
        });
    });
</script>
</body>
</html>