<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MS</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../library/layuiAdmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../library/layuiAdmin/style/admin.css" media="all">
    <!--<link href="../library/fontAwesome/css/font-awesome.min.css" rel="stylesheet">-->
    <style>

        /*.layui-side-menu .layui-nav .layui-nav-item .fa,*/
        .layui-side-menu .layui-nav .layui-nav-item .layui-icon {
            position: absolute;
            top: 50%;
            left: 20px;
            margin-top: -20px;
            line-height: 40px;
        }
    </style>
</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="http://www.layui.com/admin/" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="http://www.morningcx.com" target="_blank" title="MS">
                        <i class="layui-icon layui-icon-star-fill"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">


                <li class="layui-nav-item" lay-unselect>
                    <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                        <i class="layui-icon layui-icon-notice"></i>

                        <!-- 如果有新消息，则显示小圆点 -->
                        <span class="layui-badge-dot"></span>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite id="userName"></cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="user/info.html">基本信息</a></dd>
                        <dd><a lay-href="user/password.html">修改密码</a></dd>
                        <hr>
                        <dd><a href="../login/login.html">退出</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i
                            class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home/console.html">
                    <span>MS</span>
                </div>

                <!--lay-shrink="all"只能打开一个-->
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">
                    <li data-name="home" class="layui-nav-item layui-nav-itemed">
                        <a lay-tips="主页" lay-direction="2">
                            <i class="layui-icon layui-icon-home"></i>
                            <cite>主页</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="console" class="layui-this">
                                <a lay-href="home/console.html">控制台</a>
                            </dd>
                            <dd data-name="console">
                                <a lay-href="home/homepage1.html">主页一</a>
                            </dd>
                            <dd data-name="console">
                                <a lay-href="home/homepage2.html">主页二</a>
                            </dd>
                        </dl>
                    </li>


                    <!--文章管理-->
                    <li data-name="article" class="layui-nav-item">
                        <a lay-tips="文章管理" lay-direction="2">
                            <i class="layui-icon layui-icon-read"></i>
                            <cite>文章管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="list">
                                <a lay-href="article/list.html">文章列表</a>
                            </dd>
                        </dl>
                        <dl class="layui-nav-child">
                            <dd data-name="recycleBin">
                                <a lay-href="article/recycleBin.html">回收站</a>
                            </dd>
                        </dl>
                    </li>


                    <!--分类管理-->
                    <li data-name="category" class="layui-nav-item">
                        <a lay-tips="分类管理" lay-direction="2">
                            <i class="layui-icon layui-icon-app"></i>
                            <cite>分类管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="list">
                                <a lay-href="category/list.html">分类列表</a>
                            </dd>
                        </dl>
                        <dl class="layui-nav-child">
                            <dd data-name="tree">
                                <a lay-href="category/tree.html">分类树</a>
                            </dd>
                        </dl>
                    </li>


                    <!--标签管理-->
                    <li data-name="tag" class="layui-nav-item">
                        <a lay-tips="标签管理" lay-direction="2">
                            <i class="layui-icon layui-icon-note"></i>
                            <cite>标签管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="list">
                                <a lay-href="tag/list.html">标签列表</a>
                            </dd>
                        </dl>
                        <dl class="layui-nav-child">
                            <dd data-name="cloud">
                                <a lay-href="tag/cloud.html">标签云</a>
                            </dd>
                        </dl>
                    </li>


                    <!--图片管理-->
                    <li data-name="image" class="layui-nav-item">
                        <a lay-tips="图片管理" lay-direction="2">
                            <i class="layui-icon layui-icon-picture"></i>
                            <cite>图片管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="list">
                                <a lay-href="image/list.html">图片列表</a>
                            </dd>
                        </dl>
                        <dl class="layui-nav-child">
                            <dd data-name="wall">
                                <a lay-href="image/wall.html">图片墙</a>
                            </dd>
                        </dl>
                    </li>


                    <!--日志管理-->
                    <li data-name="log" class="layui-nav-item">
                        <a lay-tips="日志管理" lay-direction="2">
                            <i class="layui-icon layui-icon-form"></i>
                            <cite>日志管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="operationLog">
                                <a lay-href="log/operationLog.html">操作日志</a>
                            </dd>
                        </dl>
                        <dl class="layui-nav-child">
                            <dd data-name="accessLog">
                                <a lay-href="log/accessLog.html">请求日志</a>
                            </dd>
                        </dl>
                    </li>

                    <!--系统管理-->
                    <li data-name="system" class="layui-nav-item">
                        <a lay-tips="系统管理" lay-direction="2">
                            <i class="layui-icon layui-icon-set"></i>
                            <cite>系统管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="config">
                                <a lay-href="system/config.html">系统配置</a>
                            </dd>
                        </dl>
                        <dl class="layui-nav-child">
                            <dd data-name="druid">
                                <a lay-href="/druid">Druid</a>
                            </dd>
                        </dl>
                    </li>


                    <!--个人管理-->
                    <li data-name="log" class="layui-nav-item">
                        <a lay-tips="个人管理" lay-direction="2">
                            <i class="layui-icon layui-icon-username"></i>
                            <cite>个人管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="info">
                                <a lay-href="user/info.html">基本信息</a>
                            </dd>
                        </dl>
                        <dl class="layui-nav-child">
                            <dd data-name="password">
                                <a lay-href="user/password.html">修改密码</a>
                            </dd>
                        </dl>
                    </li>


                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein" style="font-family: 'Microsoft Yahei', serif">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i
                            class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="home/console.html" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<script src="../library/layuiAdmin/layui/layui.js"></script>
<script src="../base/js/ajax.js"></script>
<script>
    layui.config({
        base: '../library/layuiAdmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');

    layui.use(["jquery", "layer"], function () {
        var $ = layui.$;
        // 首页初始化
        ajax.get({
            url: "/user/getIndexInfo",
            success: function (res) {
                var data = res.data;
                $("#userName").text(data.user.name);
            }
        });
    });



    // 自定义事件
    /*layui.use(["jquery", "layer"], function () {
        var $ = layui.$, layer = layui.layer;
        // 新增文章
        $("#addArticle").click(function () {
            layer.ready(function () {
                layer.open({
                    type: 2,
                    title: "新建文章",
                    closeBtn: 1,
                    area: ["420px", "550px"],
                    anim: 0,
                    // btn:["确认", "取消"],
                    shadeClose: true, // 禁止关闭
                    content: './editor/meta.html'
                });
            });
        });
    });*/
</script>
<!--
  &lt;!&ndash; 百度统计 &ndash;&gt;
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
  </script>-->
</body>
</html>


