@charset "UTF-8";
body {
    /*background: #f5f8f9;*/
    padding: 0;
    margin: 0;
    font-family: "Microsoft Yahei", serif;
    /*font-size: 16px;*/
    /*todo 适配 font size*/
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.main {
    width: 60%;
    margin: 0 auto;
}

/*header*/
.main .header .title {
    font-size: 2.5em;
    color: #2e2e2e;
    margin-bottom: 0;
}

.main .header .meta .introduction {
    color: #888;
    border-left: 4px solid #cbcbcb;
    padding: 12px 15px 12px 20px;
    font-size: 15px;
    margin: 1.6em auto;
    line-height: 1.8em;
    background: #F6F6F6;
}

.main .header .meta {
    display: none;
    padding-top: 1.5em;
    font-size: 0.9em;
}

.main .header .meta a {
    color: #9EABB3;
}

.main .header .meta .tags a {
    display: inline-block;
    margin-top: 0.5em;
    margin-right: 0.5em;
    border: #E3E9ED 1px solid;
    border-radius: 5px;
    padding: 0 5px 2px 5px;
}

.main .header .meta .tags a:hover {
    text-decoration: underline;
}

.main .header .meta .fa {
    margin-left: 0.5em;
    color: #aebbc3;
}

.main .header .meta .fa:first-of-type {
    margin-left: 3px;
}

/*tool*/
.tool {
    /* border: 1px red solid;*/
    position: fixed;
    bottom: 25px;
    right: 3%;
}

.tool #like:before {
    position: relative;
    top: 2px;
}

.tool .toolBtn:hover {
    opacity: 1;
}

.tool .toolBtn {
    transition: opacity .2s, background .1s;
    display: block;
    cursor: pointer;
    text-align: center;
    width: 2em;
    height: 2em;
    color: #fff;
    font-size: 21px;
    line-height: 2em;
    background: #91979d;
    opacity: 0.8;
    border-radius: 20%;
    margin-top: 5px;
    z-index: 999;
}

/*toc*/
#tocContainer::-webkit-scrollbar {
    width: 4px;
}

#tocContainer::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

#tocContainer:hover::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.4);
}

#tocContainer:hover::-webkit-scrollbar-track {
    background: rgba(136, 136, 136, 0.1);
}

#tocContainer li {
    position: relative;
    list-style-type: none;
}

#tocContainer ul, #tocContainer ol {
    padding-left: 0.9em;
    margin-bottom: 0;
}

#tocContainer a:before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #9c9c9c;
    position: absolute;
    left: 11px;
    top: 8px;
    border-radius: 50%;
}

#tocContainer a {
    display: inline-block;
    margin: 0;
    width: 100%;
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #9c9c9c;
    padding-left: 1.8em;
}

#tocContainer a:hover {
    background: #F5F5F5;
    border-radius: 4px;
}

#tocContainer ul:first-child {
    padding-left: 0;
}

#previewContainer {
    /*border: 1px red solid;*/
    padding: 0;

}

@media screen and (min-width: 1000px) {

    #tocContainer {
        /*border: 1px red solid;*/
        width: 15%;
        max-height: 50%;
        position: fixed;
        padding: 0 10px 0 0;
        margin-right: 25px;
        top: 10%;
        right: 0;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 999;
    }
}

@media screen and (max-width: 1000px) {
    .main {
        width: 75%;
    }

    #tocContainer, .tool #toc {
        display: none !important;
    }
}

@media screen and (max-width: 700px) {
    .tool .toolBtn {
        transition: opacity .2s, background .1s;
        display: block;
        cursor: pointer;
        text-align: center;
        width: 1.8em;
        height: 1.8em;
        color: #fff;
        font-size: 18px;
        line-height: 1.8em;
        background: #91979d;
        opacity: 0.8;
        border-radius: 20%;
        margin-top: 5px;
        z-index: 999;
    }
}

#currPoint {
    /*color: #fc6423 !important;*/
    color: black !important;
    font-weight: bold;
    background: #F5F5F5;
    border-radius: 4px;
}

#currPoint:before {
    background: black !important;
}
