<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分类列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../library/layuiAdmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../library/layuiAdmin/style/admin.css" media="all">
</head>
<body style="overflow-y: scroll">
<!--有空隙-->
<div class="layui-fluid">
    <!--底部的间隔7.5px-->
    <div class="layui-row layui-col-space15">
        <!--横向占满12格空间-->
        <div class="layui-col-md12">
            <!--卡片白色背景-->
            <div class="layui-card">
                <div class="layui-card-header">分类列表</div>
                <div class="layui-card-body">
                    <!--搜索栏-->
                    <form class="layui-form layui-form-item">
                        <input placeholder="请输入PID" class="layui-input layui-input-inline"
                               name="pid" oninput="value=value.replace(/[^\d]/g,'')" maxlength="20">
                        <input placeholder="请输入名称" class="layui-input layui-input-inline"
                               name="name" maxlength="20">
                        <input placeholder="请输入描述" class="layui-input layui-input-inline"
                               name="description" maxlength="20">
                        <input type="submit" class="layui-btn" lay-submit lay-filter="search" value="搜索">
                        <input class="layui-btn" type="reset">
                    </form>

                    <!--工具栏-->
                    <script type="text/html" id="table-toolbar">
                        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="batchDel">批量删除</a>
                        <a class="layui-btn layui-btn-warm layui-btn-sm" lay-event="insert">新建分类</a>
                        <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="refresh">刷新列表</a>
                    </script>

                    <table class="layui-table" lay-filter="list" id="list"
                           lay-data="{page: true, toolbar: '#table-toolbar', even: true, skin: 'line'}">
                        <thead>
                        <tr>
                            <th lay-data="{checkbox:true, fixed:'left'}"></th>
                            <th lay-data="{field:'id', width: '6%'}">ID</th>
                            <th lay-data="{field:'pid', width: '6%'}">PID</th>
                            <th lay-data="{field:'name'}">名称</th>
                            <th lay-data="{field:'description'}">描述</th>
                            <th lay-data="{templet: '#recommendTpl', width: '10%', align:'center', field: 'recommend'}">推荐</th>
                            <th lay-data="{field:'createTime', width: '16%'}">创建时间</th>
                            <th lay-data="{field:'updateTime', width: '16%'}">修改时间</th>
                            <th lay-data="{fixed: 'right', toolbar: '#operation', width: '16%', align:'center'}">操作</th>
                        </tr>
                        </thead>
                    </table>
                    <!--推荐-->
                    <script type="text/html" id="recommendTpl">
                        <input type="checkbox" name="recommend" lay-skin="switch" lay-text="推荐|不推荐" lay-filter="recommend"
                               value="{{ d.id }}" data-title="{{ d.title }}" {{ d.recommend== 1 ? 'checked' : '' }}>
                    </script>
                    <!--操作栏-->
                    <script type="text/html" id="operation">
                        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">查看</a>
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../library/layuiAdmin/layui/layui.js"></script>
<script src="../../base/js/ajax.js"></script>
<script>
    layui.use(['table', 'jquery', 'layer', 'form'], function () {
        var $ = layui.$, table = layui.table, form = layui.form;
        table.init('list', {url: '/category/listPage'});

        // 搜索事件
        form.on('submit(search)', function (data) {
            // 获取提交的字段，重载第一页
            table.reload('list', {where: data.field, page: {curr: 1}});
            return false;
        });

        // 工具栏点击事件
        var toolbarActive = {
            batchDel: function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                var data = checkStatus.data;
                if (data.length === 0) {
                    layer.msg("请选择要删除的数据！");
                    return;
                }
                var ids = [];
                for (var i = 0; i < data.length; ++i) {
                    ids.push(data[i].id);
                }
                deleteItem(ids);
            },
            insert: function () {
                openItem();
            },
            refresh: function () {
                table.reload('list');
            }
        };

        table.on('toolbar(list)', function (obj) {
            toolbarActive[obj.event] ? toolbarActive[obj.event](obj) : "";
        });


        // 操作按钮点击事件
        var operationActive = {
            detail: function (obj) {

            },
            edit: function (obj) {
                openItem(obj.data.id);
            },
            del: function (obj) {
                deleteItem([obj.data.id]);
            }
        };

        table.on('tool(list)', function (obj) {
            operationActive[obj.event] ? operationActive[obj.event](obj) : "";
        });


        function deleteItem(idList) {
            layer.confirm('确认要删除ID为' + idList + "，共" + idList.length + "条数据？", function (index) {
                layer.close(index);
                ajax.post({
                    url: "/category/delete",
                    data: JSON.stringify(idList),
                    contentType: "application/json",
                    success: function (res) {
                        layer.msg("成功删除" + res.data + "条数据！");
                        toolbarActive.refresh();
                    }
                });
            });
        }

        function openItem(id) {
            var arg = id ? ("?id=" + id) : "";
            layer.open({
                type: 2
                , title: '分类操作'
                , content: './item.html' + arg
                , area: ['440px', '500px']
                , btn: ['确定', '取消']
                , yes: function (index, layero) {
                    layero.find('iframe').contents().find("#submit").click();
                }
            });
        }

    });
</script>


</body>
</html>